
<section class="container comparison">
<h2 class="name mb-5"><%=@team1.name%> vs <%=@team2.name%></h2>
    <div class="d-inline-flex w-100 justify-content-between mb-3">
        <h3><%= team_winrate(@team1.team_stat.wins, @team1.team_stat.losses)%>%</h3>
        <h2> Porcentagem de vitoria </h2>
        <h3><%= team_winrate(@team2.team_stat.wins, @team2.team_stat.losses)%>%</h3>
    </div>
    <div class="d-inline-flex w-100 justify-content-between mb-3">
        <h3><%= @team1.effective_field_goals_percentage %>%</h3>
        <h2> Gols de campo </h2>
        <h3><%= @team2.effective_field_goals_percentage %>%</h3>
    </div>

    <div class="d-inline-flex w-100 justify-content-between mb-3">
        <h3><%=@team1.two_pointers_percentage%>%</h3>
        <h2> Gol de dois pontos </h2>
        <h3><%= @team2.two_pointers_percentage %>%</h3>
    </div>

    <div class="d-inline-flex w-100 justify-content-between mb-3" >
        <h3><%= @team1.three_pointers_percentage %>%</h3>
        <h2> Gol de tres pontos </h2>
        <h3><%= @team2.three_pointers_percentage %>%</h3>
    </div>

    <div class="d-inline-flex w-100 justify-content-between mb-3">
        <h3><%= @team1.free_throws_percentage %>%</h3>
        <h2> Lances livres </h2>
        <h3><%= @team2.free_throws_percentage %>%</h3>
    </div>
    <div class="d-inline-flex w-100 justify-content-between mb-3">
        <h3><%= @team1.true_shooting_percentage %>%</h3>
        <h2> Acertos na cesta </h2>
        <h3><%= @team2.true_shooting_percentage %>%</h3>
    </div>
</section>
