
<section class="container p-4">
<%= search_form_for @q do |f| %>
  <div class="search-border">
    <div class="input-group">
      <%= f.search_field :name_or_city_cont, placeholder: "Pesquisar", id: 'search_team', data: { behavior: "autocompleteTeam" } %>
      <div class="input-group-append">
        <%= button_tag( :class => "button_green") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="d-flex search-vs-display">
  <%= form_with(url: comparison_teams_path, method: :get, local: true, class:"comparison-form") do %>
    <div class="search-border">
      <div class="input-group">
        <input type="search" placeholder="Nome" id="first_team" data-behavior="autocompleteTeam">
      </div>
    </div>
    <h2> Vs </h2>
    <div class="search-border"> 
      <div class="input-group">
        <input type="search" placeholder="Nome" id="second_team" data-behavior="autocompleteTeam">
        <input type="hidden" name="first_team" id="hidden_first_team">
        <input type="hidden" name="second_team" id ="hidden_second_team" class="">
        <div class="input-group-append">
          <%= button_tag( :class => "button_green") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>




  <div class="teams">
    <div class="team-position">
      <% @teams.each do |team| %>
        <%= link_to team_path(team), :action => 'go' do %>
        <div class="team">
          <%= image_tag team.wikipedia_logo_url %> 
          <div class="">
            <h2 style="color: #<%=team.primary_color%>"><%= team.name %></h2>
            <p>Estado <%= team.city %></p>
            <p>Taxa de vitória: <%= team_winrate(team.team_stat.wins, team.team_stat.losses)%>%</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
</section>

<%= paginate @teams, window: 1, left: 1, right: 1%>


<script>
$( document ).ready(function(){
  $("#submit_comparison_team").click(function(){
        localStorage = $("#first_team").val();
        var b = $("#second_team").val();
        <%=%>
        
    });
});

</script>