
<section class="container p-4">
<%= search_form_for @q do |f| %>
  <div class="search-border">
    <div class="input-group">
      <%= f.search_field :name_or_city_cont, placeholder: "Pesquisar" %>
      <div class="input-group-append">
        <%= button_tag( :class => "button_green") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>





  <div class="teams">
    <div class="team-position">
      <% @teams.each do |team| %>
        <%= link_to team_path(team), :action => 'go' do %>
        <div class="team">
          <%= image_tag team.wikipedia_logo_url %> 
          <div class="">
            <h2 style="color: #<%=team.primary_color%>"><%= team.name %></h2>
            <p>Estado <%= team.city %></p>
            <p>Taxa de vitória: <%= team_winrate(team.team_stat.wins, team.team_stat.losses)%>%</p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
</section>

<%= paginate @teams, window: 1, left: 1, right: 1%>
