<script>

  $( document ).ready(function(){
     team_color = "#" + "<%= @team.primary_color %>" ;
     console.log(team_color);
     document.documentElement.style.setProperty('--primary', team_color);
     
 });  
</script>
<section id="team">
    <div class="container d-table">
        <div class="d-table-cell align-middle">

            <h2 class="team-name"><%= @team.name %></h2>
            <div class=" team-text ">
                <%= image_tag("#{@team.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %>
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
                    volutpat dictum scelerisque. Maecenas nisl purus, congue sit amet 
                    lacinia at, consectetur et nisl. Vestibulum suscipit congue lectus id congue. 
                    Sed at molestie augue, sed rhoncus nisl. Etiam maximus iaculis tempor. 
                </p>
            </div>
        </div>
    </div>
</section>

<section id="team-players" class="container team-players">
    <h2 class="d-none d-sm-block mt-3 text-right">Jogadores</h2>
    <h2 class="d-sm-none mt-3 text-center">Jogadores</h2>

    <div class="mb-2 d-none d-sm-block", style="">
        <% @team_players.each do |player| %>
        
            <%= link_to player_path(player), :action => 'go' do %>
                <div class="row mt-5" style="border-left: 5px solid var(--dark-light); border-bottom: 5px solid var(--dark-light)">
                    <div class="col-7 row"  style="background: var(--primary); " > 
                        <div class="col-2" >
                            <%= image_tag("#{player.photo_url}", class:"rounded player-photo ") %>
                        </div>
                        <div class="col-2" style="display: flex; align-items: center; justify-content: center" >
                            <p style="color: var(--constrast-dark-light); font-size: 45px; font-family: Basketball; 
                            border-right: 3px solid var(--dark-light); 
                            padding-right: 15px"><%= player.jersey%></p>
                        </div>
                        <div class="col h-100 ml-2 name-position" >
                            <div class="d-table-cell ">
                                <p style="color: var(--constrast-dark-light); font-size: 20px; text-transform: uppercase" class="d-block"><%= player.first_name%> <%= player.last_name%></p>
                                <p style="color: var(--constrast-dark-light); font-size: 15px; margin-top: 5px"><%= position_to_br(player.position) %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col row"  style="background: var(--constrast-dark-light); " > 
                        <div class="col team-player-stats h-100" >
                            <div class="d-table-cell" style="text-align: center">
                            <% if player.player_stat %>
                                <p style="color: var(--dark-light); font-size: 20px; text-transform: uppercase" class="d-block"><%= player.player_stat&.games %></p>
                                <p style="color: var(--dark-light); font-size: 15px; margin-top: 5px">Jogos</p>
                            <% else %>
                                <p style="color: var(--dark-light); font-size: 20px;">---</p>
                            <% end %>
                            </div>
                        </div>
                        <div class="col team-player-stats h-100" >
                            <div class="d-table-cell" style="text-align: center">
                            <% if player.player_stat %>
                                <p style="color: var(--dark-light); font-size: 20px; text-transform: uppercase" class="d-block"><%= player.player_stat&.free_throws_percentage %>%</p>
                                <p style="color: var(--dark-light); font-size: 15px; margin-top: 5px">Lances Livre</p>
                            <% else %>
                                <p style="color: var(--dark-light); font-size: 20px;">---</p>
                            <% end %>
                            </div>
                        </div>
                        <div class="col team-player-stats h-100">
                            <div class="col d-table-cell" style="text-align: center">
                            <% if player.player_stat %>
                                <p style="color: var(--dark-light); font-size: 20px; text-transform: uppercase" class="d-block"><%= player.player_stat&.field_goals_percentage %>%</p>
                                <p style="color: var(--dark-light); font-size: 15px; margin-top: 5px">Cestas de Campo</p>
                            <% else %>
                                <p style="color: var(--dark-light); font-size: 20px;">---</p>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>


    <div class="mb-2 d-sm-none", style="display: flex;
    flex-wrap: wrap;
    justify-content: center;">
        <% @team_players.each do |player| %>
        
            <%= link_to player_path(player), :action => 'go' do %>
                <div class="card mt-5 mr-4 ml-4 mb-4" style="width: 15rem;">
                    <%= image_tag("#{player.photo_url}", class:"rounded player-photo card-img-top") %>
                    <div class="card-body ">
                        <h3 class="card-title" style="font-size: 35px"><%= player.first_name %> <%= player.last_name %> </h3>
                        <h2 class="card-text"> <%= player.jersey%></h2>
                        <p class="card-text"><%= position_to_br(player.position) %></p>
                        <% if player.player_stat %>
                            <p>Jogos: <%= player.player_stat&.games %></p>
                            <p>Cestas de Campo: <%= player.player_stat&.field_goals_percentage%>%</p>
                            <p>Lances Livre: <%= player.player_stat&.free_throws_percentage %>%</p>
                        <% else %>
                            <p>Jogos: ---</p>
                            <p>Cestas de Campo: ---</p>
                            <p>Lances Livre: ---</p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</section>

    <section class="show-info container mt-4 mb-4">
    <div class="div-show-info center">
    <h2>Dados</h2>
    <div class="w-100 d-inline-flex flex-row-reverse align-items-center mt-4 justify-content-center">
        <h4><%=@team.name%></h4>
        <%= image_tag("#{@team.wikipedia_logo_url}", class:"img-responsive rounded ", style:"height: 140px; margin-right: 20px") %>
    </div>

    <div class="graph-flex">

        <div style="" class="graph-display">
            <h3>Winrate %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Vitórias", data: @team.team_stat.wins},
                {name: "Derrotas", data: (@team.team_stat.losses)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Dois pontos %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.two_pointers_percentage.to_f},
                {name: "Falhados", data: (100 - @team.two_pointers_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>
    

        <div style="" class="graph-display">
            <h3>Tres pontos %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.three_pointers_percentage.to_f},
                {name: "Falhados", data: (100 - @team.three_pointers_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Assistencia %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.assists_percentage.to_f},
                {name: "Falhados", data: (100 - @team.assists_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Block %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.blocks_percentage.to_f},
                {name: "Falhados", data: (100 - @team.blocks_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Lance Livre %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.free_throws_percentage.to_f},
                {name: "Falhados", data: (100 - @team.free_throws_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Roubo de Bola %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.steals_percentage.to_f},
                {name: "Falhados", data: (100 - @team.steals_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Taxa de uso %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.usage_rate_percentage.to_f},
                {name: "Falhados", data: (100 - @team.usage_rate_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Perda de bola %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.turn_overs_percentage.to_f},
                {name: "Falhados", data: (100 - @team.turn_overs_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Acerto na cesta %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.true_shooting_percentage.to_f},
                {name: "Falhados", data: (100 - @team.true_shooting_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Rebote %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.total_rebounds_percentage.to_f},
                {name: "Falhados", data: (100 - @team.total_rebounds_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>

        <div style="" class="graph-display">
            <h3>Gols de campo %</h3>
            <div style="", class="graph-and-text">
            <%= pie_chart([
                {name: "Sucedidos", data: @team.effective_field_goals_percentage.to_f},
                {name: "Falhados", data: (100 - @team.effective_field_goals_percentage.to_f)},
                ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
            </div>
        </div>


    </div>
     

</section>