<section id="main" class="container">
    <div class="main-div">
        <div class="title-img">
            <%= image_tag("fireBall.svg", :class => "d-none d-lg-block")%>
            <h2>Hang time</h2>
        </div>

        <div class="main-text">
            <h3>Ranqueando, para voce, os melhores jogadores da NBA </h3>
            <a href="#spotlight"><button>Veja mais</button></a>
        </div>
       
    </div>
    <div id="icon-scroll"></div>
</section>

<section class="container" id="spotlight" name="spotlight">
    <h2 class="stars">Destaques</h2>
    <div class="stars-flex">

        
        <div class="stars-card">
            <h2>Time com melhor desempenho</h2>
            <%= link_to team_path(@teams.find_by(team_id: biggest_victory(@teams_stats).team_id)), :action => 'go' do %>
            <div class="name-logo">
                <h2 style="color: #<%=@teams.find_by(team_id: biggest_victory(@teams_stats).team_id).primary_color %>">
                    <%= @teams.find_by(team_id: biggest_victory(@teams_stats).team_id).name%>
                </h2>
                <%= image_tag("#{@teams.find_by(team_id: biggest_victory(@teams_stats).team_id).wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
             <% end %>
            <div style="" class="graph-display">
                <div style="width: 230px" class="graph-and-text">
                <%= pie_chart([
                    {name: "Vitória", data: biggest_victory(@teams_stats).wins},
                    {name: "Derrota", data: biggest_victory(@teams_stats).losses},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0'])  %>
                
                </div>
            </div>
        </div>
       

        <div class="stars-card">
            
            <h2>Jogador com maior salario</h2>
            <%= link_to player_path(biggest_stat(@players, :salary)), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=biggest_stat(@players, :salary).team.primary_color %>">
                        <%= biggest_stat(@players, :salary).first_name%> 
                    </h2> 
                    <h2 style="color: #<%=biggest_stat(@players, :salary).team.primary_color %>">
                        <%= biggest_stat(@players, :salary).last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{biggest_stat(@players, :salary).photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 15px; height: 100px; align-items: center;">
                <h2 style="font-size: 40px">R$<%= number_with_delimiter(biggest_stat(@players, :salary).salary, :delimiter => '.') %></h2>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com melhor dois pontos</h2>
            <%= link_to player_path(@best_player_with_two_points_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=  @best_player_with_two_points_percentage.team.primary_color %>">
                        <%= @best_player_with_two_points_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%= @best_player_with_two_points_percentage.team.primary_color %>">
                        <%= @best_player_with_two_points_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_two_points_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="" class="graph-display">
                <div style="" class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_two_points_percentage.two_pointers_percentage.to_f},
                    {name: "Falha", data: (100 -  @best_player_with_two_points_percentage.two_pointers_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Time com melhor dois pontos</h2>
            <%= link_to team_path(@best_team_with_two_points_percentage), :action => 'go' do %>
            <div class="name-logo">
                    <h2 style="color: #<%= @best_team_with_two_points_percentage.primary_color %>">
                        <%= @best_team_with_two_points_percentage.name%> 
                    </h2> 
                <%= image_tag("#{@best_team_with_two_points_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="" class="graph-display">
                <div style="" class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_two_points_percentage.two_pointers_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_two_points_percentage.two_pointers_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0'], plotOptions:{pie: {size: 200}}) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador mais experiente</h2>
            <%= link_to player_path(biggest_stat(@players, 'experience')), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=biggest_stat(@players, 'experience').team.primary_color %>">
                        <%= biggest_stat(@players, 'experience').first_name%> 
                    </h2> 
                    <h2 style="color: #<%=biggest_stat(@players, 'experience').team.primary_color %>">
                        <%= biggest_stat(@players, 'experience').last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{biggest_stat(@players, 'experience').photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 15px; height: 100px; align-items: center;">
                <h2 style="font-size: 34px"><%= biggest_stat(@players, 'experience').experience %> anos como jogador</h2>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Time com melhor tres pontos</h2>
            <%= link_to team_path(@best_team_with_three_pointers_percentage), :action => 'go' do %>
            <div class="name-logo">
                    <h2 style="color: #<%= @best_team_with_three_pointers_percentage.primary_color %>">
                        <%= @best_team_with_three_pointers_percentage.name%> 
                    </h2> 
                <%= image_tag("#{@best_team_with_three_pointers_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="" class="graph-display">
                <div style="" class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_three_pointers_percentage.three_pointers_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_three_pointers_percentage.three_pointers_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com melhor tres pontos</h2>
            <%= link_to player_path(@best_player_with_three_pointers_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_three_pointers_percentage.team.primary_color %>">
                        <%= @best_player_with_three_pointers_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_three_pointers_percentage.team.primary_color %>">
                        <%= @best_player_with_three_pointers_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_three_pointers_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_three_pointers_percentage.three_pointers_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_three_pointers_percentage.three_pointers_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com melhor assistencia</h2>
            <%= link_to player_path(@best_player_with_assists_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_assists_percentage.team.primary_color %>">
                        <%= @best_player_with_assists_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_assists_percentage.team.primary_color %>">
                        <%= @best_player_with_assists_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_assists_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_assists_percentage.assists_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_assists_percentage.assists_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com melhor bloqueio</h2>
            <%= link_to player_path(@best_player_with_blocks_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_blocks_percentage.team.primary_color %>">
                        <%= @best_player_with_blocks_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_blocks_percentage.team.primary_color %>">
                        <%= @best_player_with_blocks_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_blocks_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_blocks_percentage.blocks_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_blocks_percentage.blocks_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com melhor roubo</h2>
            <%= link_to player_path(@best_player_with_steals_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_steals_percentage.team.primary_color %>">
                        <%= @best_player_with_steals_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_steals_percentage.team.primary_color %>">
                        <%= @best_player_with_steals_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_steals_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_steals_percentage.steals_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_steals_percentage.steals_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com maior perda de bola</h2>
            <%= link_to player_path(@best_player_with_turn_overs_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_turn_overs_percentage.team.primary_color %>">
                        <%= @best_player_with_turn_overs_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_turn_overs_percentage.team.primary_color %>">
                        <%= @best_player_with_turn_overs_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_turn_overs_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_turn_overs_percentage.turn_overs_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_turn_overs_percentage.turn_overs_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com maior taxa de uso</h2>
            <%= link_to player_path(@best_player_with_usage_rate_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_usage_rate_percentage.team.primary_color %>">
                        <%= @best_player_with_usage_rate_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_usage_rate_percentage.team.primary_color %>">
                        <%= @best_player_with_usage_rate_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_usage_rate_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_usage_rate_percentage.usage_rate_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_usage_rate_percentage.usage_rate_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Time com maior taxa de uso</h2>
            <%= link_to team_path(@best_team_with_usage_rate_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_team_with_usage_rate_percentage.primary_color %>">
                        <%= @best_team_with_usage_rate_percentage.name%> 
                    </h2> 
                </div>
                <%= image_tag("#{@best_team_with_usage_rate_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_usage_rate_percentage.usage_rate_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_usage_rate_percentage.usage_rate_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com maior Lance Livre</h2>
            <%= link_to player_path(@best_player_with_free_throws_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_free_throws_percentage.team.primary_color %>">
                        <%= @best_player_with_free_throws_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_free_throws_percentage.team.primary_color %>">
                        <%= @best_player_with_free_throws_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_free_throws_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_free_throws_percentage.free_throws_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_free_throws_percentage.free_throws_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>


        <div class="stars-card">
            
            <h2>Time com maior lance livre</h2>
            <%= link_to team_path(@best_team_with_free_throws_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_team_with_free_throws_percentage.primary_color %>">
                        <%= @best_team_with_free_throws_percentage.name%> 
                    </h2> 
                </div>
                <%= image_tag("#{@best_team_with_free_throws_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_free_throws_percentage.free_throws_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_free_throws_percentage.free_throws_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Time com maior acerto na cesta</h2>
            <%= link_to team_path(@best_team_with_true_shooting_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_team_with_true_shooting_percentage.primary_color %>">
                        <%= @best_team_with_true_shooting_percentage.name%> 
                    </h2> 
                </div>
                <%= image_tag("#{@best_team_with_true_shooting_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_true_shooting_percentage.true_shooting_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_true_shooting_percentage.true_shooting_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>
       
        <div class="stars-card">
            
            <h2>Jogador com maior acerto na cesta</h2>
            <%= link_to player_path(@best_player_with_true_shooting_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_player_with_true_shooting_percentage.team.primary_color %>">
                        <%= @best_player_with_true_shooting_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%=@best_player_with_true_shooting_percentage.team.primary_color %>">
                        <%= @best_player_with_true_shooting_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{@best_player_with_true_shooting_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_player_with_true_shooting_percentage.true_shooting_percentage.to_f},
                    {name: "Falha", data: (100 - @best_player_with_true_shooting_percentage.true_shooting_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com maior eficiência</h2>
            <%= link_to player_path( @best_player_with_player_efficiency_rating), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=  @best_player_with_player_efficiency_rating.team.primary_color %>">
                        <%=  @best_player_with_player_efficiency_rating.first_name%> 
                    </h2> 
                    <h2 style="color: #<%= @best_player_with_player_efficiency_rating.team.primary_color %>">
                        <%=  @best_player_with_player_efficiency_rating.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{ @best_player_with_player_efficiency_rating.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data:  @best_player_with_player_efficiency_rating.player_efficiency_rating.to_f},
                    {name: "Falha", data: (100 -  @best_player_with_player_efficiency_rating.player_efficiency_rating.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Jogador com maior rebote</h2>
            <%= link_to player_path( @best_player_with_total_rebounds_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=  @best_player_with_total_rebounds_percentage.team.primary_color %>">
                        <%=  @best_player_with_total_rebounds_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%= @best_player_with_total_rebounds_percentage.team.primary_color %>">
                        <%=  @best_player_with_total_rebounds_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{ @best_player_with_total_rebounds_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data:  @best_player_with_total_rebounds_percentage.total_rebounds_percentage.to_f},
                    {name: "Falha", data: (100 -  @best_player_with_total_rebounds_percentage.total_rebounds_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

         <div class="stars-card">
            
            <h2>Time com mais rebote</h2>
            <%= link_to team_path(@best_team_with_total_rebounds_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_team_with_total_rebounds_percentage.primary_color %>">
                        <%= @best_team_with_total_rebounds_percentage.name%> 
                    </h2> 
                </div>
                <%= image_tag("#{@best_team_with_total_rebounds_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_total_rebounds_percentage.total_rebounds_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_total_rebounds_percentage.total_rebounds_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

          <div class="stars-card">
            
            <h2>Jogador com mais Gols de Campo</h2>
            <%= link_to player_path( @best_player_with_field_goals_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%=  @best_player_with_field_goals_percentage.team.primary_color %>">
                        <%=  @best_player_with_field_goals_percentage.first_name%> 
                    </h2> 
                    <h2 style="color: #<%= @best_player_with_field_goals_percentage.team.primary_color %>">
                        <%=  @best_player_with_field_goals_percentage.last_name%> 
                    </h2>
                </div>
                <%= image_tag("#{ @best_player_with_field_goals_percentage.photo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data:  @best_player_with_field_goals_percentage.field_goals_percentage.to_f},
                    {name: "Falha", data: (100 -  @best_player_with_field_goals_percentage.field_goals_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>

        <div class="stars-card">
            
            <h2>Time com mais gols de campo</h2>
            <%= link_to team_path(@best_team_with_field_goals_percentage), :action => 'go' do %>
            <div class="name-logo">
                <div>
                    <h2 style="color: #<%= @best_team_with_field_goals_percentage.primary_color %>">
                        <%= @best_team_with_field_goals_percentage.name%> 
                    </h2> 
                </div>
                <%= image_tag("#{@best_team_with_field_goals_percentage.wikipedia_logo_url}", class:"img-responsive rounded team-photo") %> 
            </div>
            <%end%>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 25px" class="graph-display">
                <div style="", class="graph-and-text">
                <%= pie_chart([
                    {name: "Sucesso", data: @best_team_with_field_goals_percentage.effective_field_goals_percentage.to_f},
                    {name: "Falha", data: (100 - @best_team_with_field_goals_percentage.effective_field_goals_percentage.to_f)},
                    ], legend: "left", colors:['#22bb33', '#bb2124', '#9C27B0']) %>
                
                </div>
            </div>
            
        </div>


    </div>
</section>