<section class="container p-4">
<%= search_form_for @q do |f| %>
  <div class="search-border">
    <div class="input-group">
      <%= f.search_field :first_name_or_last_name_or_team_name_cont, placeholder: "Pesquisar" %>
      <div class="input-group-append">
        <%= button_tag( :class => "button_green") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Time</th>
      <th>Imagem</th>
      <th colspan="1">Ver</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %> <%= player.last_name %></td>
        <td><%= player.team.name %></td>
        <td> <%= image_tag player.photo_url, size: "50x50" %> </td>
        <td><%= link_to "ver", player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
<%= paginate @players, window: 1, left: 1, right: 1%>