<script>

  $( document ).ready(function(){
     team_color = "#" + "<%= @player.team.primary_color %>" ;
     console.log(team_color);
     document.documentElement.style.setProperty('--primary', team_color);
     
 });  
</script>
<section id="player">
    <div class="container">
        <div class="player-main">
            <div class="d-inline-flex">
                <div class="player-name">
                    <h2><%= @player.last_name %></h2>
                    <h2><%= @player.first_name %></h2>
                    <%= image_tag("#{@player.photo_url}", class:"img-responsive rounded player-photo") %>
                </div>
                <h2 class="player-number"><%= @player.jersey%></h2>
                
            </div>
        </div>

        <div class="player-main-sm">
            <% if @player.jersey.present? %>
                <h2 class="player-number"><%= @player.jersey%></h2>
            <% else %>
                <h2 class="player-number">--</h2>
            <% end %>
            <div class="d-inline-flex w-100">
                <div class="player-name d-inline-flex">
                    <div class="d-block">
                        <h2><%= @player.last_name %></h2>
                        <h2><%= @player.first_name %></h2>
                    </div>
                    <%= image_tag("#{@player.photo_url}", class:"img-responsive rounded player-photo") %>
                </div>
                
                
            </div>
        </div>


        <div class="team-text">
            <%= image_tag("#{@player.team.wikipedia_logo_url}", class:"img-responsive") %>
            <p class="about-player"><%=@player.first_name%> <%=@player.last_name %> atualmente no
             time <span style="color: var(--primary)">
            <%=@player.team.name %></span> como <%= position_to_br(@player.position) %>, joga na NBA há <%= @player.experience %> anos.
            <% if @player.birth_city and @player.birth_date %>
             Nasceu no <%= date_to_br(@player&.birth_date)%> em 
             <%=@player&.birth_city %>, <%=@player&.birth_state%></p>
             <%# image_tag("#{@player.photo_url}", class:"img-responsive ml-4 rounded") %>
             <% end %>
        </div>
    </div>
</section>

<section class="show-info container mt-4 mb-4">
<div class="div-show-info center">
<h2>Dados</h2>
<div class="w-100 d-inline-flex flex-row-reverse align-items-center mt-4 justify-content-start">
    <h4><%=@player.jersey%></h4>
    <%= image_tag("#{@player.photo_url}", class:"img-responsive rounded ", style:"height: 95px") %>
</div>
<p style="clear: right"><%= @player.first_name %> <%= @player.last_name%></p>
<p>Do time <%=@player.team.name %></p>
<p><%= position_to_br(@player.position) %></p>
<% if @player.birth_city %>
    <p>Nascido em <%=@player&.birth_city%> - <%= @player.birth_state%></p>
<% else %>
    <p>Nascido em ?? </p>
<%end%>
<% if @player.birth_date %>
    <p> <%date_to_br(@player&.birth_date)%> </p>
<% else %>
    <p> 99/99/9999 </p>
<% end %>
<p>Salário de R$<%= number_with_delimiter(@player.salary, :delimiter => '.')%> </p>


<% if @player.player_stat %>
<div class="graph-flex">
    
    <div style="" class="graph-display">
        <h3>Dois pontos %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.two_pointers_percentage.to_f},
            {name: "Falhados", data: (100 - @player.two_pointers_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Tres pontos %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.three_pointers_percentage.to_f},
            {name: "Falhados", data: (100 - @player.three_pointers_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Assistencia %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.assists_percentage.to_f},
            {name: "Falhados", data: (100 - @player.assists_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Bloqueio %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.blocks_percentage.to_f},
            {name: "Falhados", data: (100 - @player.blocks_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Lance Livre %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.free_throws_percentage.to_f},
            {name: "Falhados", data: (100 - @player.free_throws_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Roubo de Bola %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.steals_percentage.to_f},
            {name: "Falhados", data: (100 - @player.steals_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

     <div style="" class="graph-display">
        <h3>Anotacoes de campo %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.field_goals_percentage.to_f},
            {name: "Falhados", data: (100 - @player.field_goals_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Eficiencia %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.player_efficiency_rating.to_f},
            {name: "Falhados", data: (100 - @player.player_efficiency_rating.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Perda de Bola %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.turn_overs_percentage.to_f},
            {name: "Falhados", data: (100 - @player.turn_overs_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

    <div style="" class="graph-display">
        <h3>Acerto na cesta %</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.true_shooting_percentage.to_f},
            {name: "Falhados", data: (100 - @player.true_shooting_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

     <div style="" class="graph-display">
        <h3>Gols de Campo%</h3>
        <div style="", class="graph-and-text">
        <%= pie_chart([
            {name: "Sucedidos", data: @player.effective_field_goals_percentage.to_f},
            {name: "Falhados", data: (100 - @player.effective_field_goals_percentage.to_f)},
            ], legend: "left", colors:['#252525', '#3d0000', '#9C27B0']) %>
        </div>
    </div>

</div>
<% end %>

</div>

</section>


